[Desktop Entry]
Type=Application
Name=FedoraAPM
Comment=The Modern Fedora Package Manager
Exec=fedorapm-gui
Icon=fedora-pm
Terminal=false
Categories=System;PackageManager;
Keywords=package;manager;fedora;linux;dnf;
MimeType=application/x-executable;
StartupNotify=true
Actions=new-window;install;remove;update;
DBusActivatable=true
X-GNOME-UsesNotifications=true